<!DOCTYPE html>
<html>

<head>
    <title>文字相似度比较</title>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <style>
        .in {
            width: 300px;
            height: 30px;
            display: block;
            margin-bottom: 20px;
        }

        .sm {
            width: 120px;
            height: 40px;
        }
    </style>
</head>

<body>
    <h1>文字相似度比较</h1>
    <input type="text" id="sentence1" placeholder="目标文字" class="in">
    <input type="text" id="sentence2" placeholder="标准文字" class="in">
    <button id="submit" class="sm">提交</button>

    <p id="result"></p>
    <p id="tag1"></p>
    <p id="tag2"></p>

    <script>
        $(document).ready(function () {
            $('#submit').click(function () {
                var sentence1 = encodeURIComponent($('#sentence1').val());
                var sentence2 = encodeURIComponent($('#sentence2').val());
                var url = '/simi?var1=' + sentence1 + '&var2=' + sentence2;

                $.get(url, function (data, status) {
                    console.log("Data: " + data.result + "\nStatus: " + status);
                    $("#result").html("相似度比较结果：" + data.result);

                    var matched_words = JSON.parse(JSON.stringify(data.matched_words));
                    var tag1 = JSON.parse(JSON.stringify(data.tag1));
                    var tag2 = JSON.parse(JSON.stringify(data.tag2));

                    tag1 = tag1.map(function (item) {
                        var word = item[0];
                        var tag = item[1];
                        return matched_words.includes(word) ? '<span style="border:1px solid red">' + word + '/' + tag + '</span>' : word + '/' + tag ;
                    }).join(' ');

                    tag2 = tag2.map(function (item) {
                        var word = item[0];
                        var tag = item[1];
                        return matched_words.includes(word) ? '<span style="border:1px solid red">' + word + '/' + tag + '</span>' : word + '/' + tag ;
                    }).join(' ');

                    $("#tag1").html("句子1分词：" + tag1);
                    $("#tag2").html("句子2分词：" + tag2);
                });
            });
        });

    </script>
</body>

</html>